:root {
  --main-font: 'Gilroy', sans-serif;
  --primary-color: #3A3845;
  --secondary-color: #595667;
  --accent-color: #C69B7B;
  --max-width: 1400px;
  --padding: 20px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  color: var(--primary-color);
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--padding);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
}

.header__logo {
  outline: none;
}

.logo {
  display: block;
  width: 183px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.menu__item {
  font-weight: 500;
}

.menu__link {
  color: var(--primary-color);
  padding: 8px 12px;
  outline: none;
}

.menu__link-active {
  color: var(--accent-color);
  text-decoration: none;
  border-bottom: 1px solid;
  padding-bottom: 8px;
}

.header__search {
  display: inline-flex;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  padding: 12px;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  overflow: hidden;
}

.header__search-button {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.header__search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__search-input {
  border: none;
  width: 320px;
  outline: none;
}

.header__search-input::placeholder {
  color: #A6A6A8;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 400;
}

.header__buttons {
  display: flex;
  gap: 16px;
}

.header__button {
  border: none;
  background: none;
  outline: none;
}

.header__menu-mobile {
  display: none;
}

.about__container {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F7F6F5;
  max-width: 100%;
  padding-top: 40px;
}

.about__title {
  text-transform: uppercase;
  font-size: 56px;
  font-weight: 600;
  padding-top: 64px;
}

.about__description {
  text-align: center;
  padding-top: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--secondary-color);
}

.timeline__container {
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color: #F7F6F5;
  max-width: 100%;
  padding-top: 40px;
}

.timeline__items {
  display: flex;
  gap: 20px;
}

.timeline-year-and-description-big__container {
  margin-bottom: 24px;
}

.timeline-item-big__content {
  background-color: #FFFFFF;
  max-width: 488px;
  height: 700px;
  border-radius: 4px;
}

.timeline-item-big__title {
  padding-top: 40px;
  padding-left: 40px;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
}

.timeline-item-big__description {
  margin-top: 24px;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--secondary-color);
}

.timeline-item-big__description-mobile {
  display: none;
}

.timeline-item-big__image {
  display: block;
  max-width: 488px; 
}

.timeline-item-small__content {
  display: flex;
  margin-bottom: 20px;
  max-width: 692px;
  background-color: #FFFFFF;
  border-radius: 4px;
  max-height: 340px;
}

.timeline-item-small__title {
  padding-top: 40px;
  padding-left: 40px;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
}

.timeline-item-small__description {
  margin-top: 24px;
  padding-left: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--secondary-color);
}

.how-we-work__container {
  display: flex; 
  padding-top: 140px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: #F7F6F5;
  max-width: 100%;
}

.stages-of-work-wrapper {
  display: flex;
  flex-direction: column;
}

.how-we-work__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.stage-of-work__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
}

.stage-of-work__description {
  margin-top: 8px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.meet-our-team__container {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F7F6F5;
  max-width: 100%;
  padding-top: 130px;
}

.meet-our-team__title {
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
}

.team-members {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.team-member-description-wrapper {
  margin-top: 16px;
  text-align: center;
}

.team-member__title {
  font-weight: 600;
}

.team-member__description {
  margin-top: 8px;
  font-weight: 500;
}

.sign-up__container {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F7F6F5;
  max-width: 100%;
  padding-top: 130px;
}

.sign-up-form__container {
  margin-bottom: 130px;
  padding-bottom: 40px;
  background-color: #FFFFFF; 
  max-width: 1200px;
  border-radius: 4px;
}

.sign-up-form-description {
  text-align: center;
}

.sign-up-form__title {
  padding-top: 40px;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: var(--secondary-color);
}

.sign-up-form__description {
  margin-top: 16px;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
}

.sign-up-form-input-and-button {
  display: flex;
  gap: 21px;
  justify-content: center;
}

.sign-up-form__input {
  margin-top: 40px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 386px;
  max-height: 51px;
  border: 1px solid #807F86;
  border-radius: 4px;
  text-align: center;
}

.sign-up-form__input-mobile {
  display: none;
}

.sign-up-form__input::placeholder {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-family: var(--main-font);
}

.sign-up-form__button {
  margin-top: 43px;
  font-family: var(--main-font);
  background-color: var(--primary-color);
  color: #FFFFFF;
  width: 183px;
  height: 48px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.footer__container {
  display: flex;
  flex-direction: row;
  background-color: var(--primary-color);
  max-width: 100%;
}

.footer-content__conatiner {
  display: flex;
}

.footer-description-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 400px;
}

.footer-logo-wrapper {
  padding-top: 40px;
}

.footer-logo {
  width: 145px;
  height: 35px;
}

.footer__description {
  margin-top: 40px;
  padding-bottom: 24px;
  color: #CAC9CF;
}

.footer__description-mobile {
  display: none;
}

.footer-button-wrapper {
  margin-top: 24px;
}

.footer__button {
  padding: 16px 61px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
}

.button-content-wrapper {
  padding-bottom: 40px;
  display: inline-flex;
  gap: 8px;
}

.footer-button__title {
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.footer-menu-wrapper {
  display: flex;
  gap: 100px;
  padding-top: 40px;
}

.footer-menu-list-wrapper {
  display: flex;
  flex-direction: column;
}

.footer-menu__title {
  margin-bottom: 24px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 20px;
}

.footer-menu__item-link {
  color: #CAC9CF;
}

.footer-menu__items {
  display: flex;
  padding-bottom: 47px;
  flex-direction: column;
  color: #CAC9CF;
  gap: 16px;
}

.copyright-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  background-color: var(--primary-color);
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

.copyright-container::before {
  content: "";
  padding-top: 24px;
  border-top: 1px solid #606060;
  width: 1400px;
}

.copyright-content {
  color: #A6A6A8;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}



@media (max-width: 1243px) {

  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
    width: 124px;
  }
  .header__menu {
    display: none;
  }

  .header__search {
    display: none;
  }

  .header__buttons {
    display: none;
  }

  .header__menu-mobile {
    display: flex;
    justify-content: end;
  }

  .about__title {
    padding-top: 0;
    font-size: 40px;
    text-align: center;
  }

  .about__description {
    font-size: 14px;
    text-align: center;
  }
  
  .timeline__items {
    flex-direction: column;
  }

  .timeline__item-big {
    margin-bottom: 16px;
  }

  .timeline-item-big__content {
    max-width: 328px;
    max-height: 336px;
  }

  .timeline-item-big__title {
    padding-top: 16px;
    padding-left: 16px;
    font-size: 20px;
    line-height: 25px;
  }

  .timeline-item-big__description {
    display: none;
  }

  .timeline-item-big__description-mobile-container {
    margin-bottom: 16px;
  }

  .timeline-item-big__description-mobile {
    display: block;
    margin-top: 16px;
    padding-left: 16px;
    font-size: 14px;
    line-height: 21px;
  }

  .timeline-item-big__image {
    width: 328px;
    height: 200px;
  }

  .timeline-item-small__content {
    flex-direction: column;
    max-width: 328px;
    max-height: 357px;
  }

  .timeline-item-small__title {
    padding-top: 16px;
    padding-left: 16px;
    font-size: 20px;
    line-height: 25px;
  }

  .timeline-item-small__image {
    display: block;
    width: 328px;
    height: 200px;
  }

  .timeline-item-small__description {
    margin-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 21px;
  }

  .how-we-work__container {
    flex-direction: column;
  }

  .how-we-work-image-wrapper {
    position: relative;
    top: 290px;
  }

  .stages-of-work-wrapper {
    position: relative;
    bottom: 340px;
  }

  .how-we-work__title {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
  }

  .stage-of-work__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }

  .stage-of-work__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }

  .how-we-work__image {
    max-width: 328px;
    height: 200px;
    border-radius: 4px;
  }

  .meet-our-team__container {
    padding-top: 40px;
    padding: 0;
  }

  .meet-our-team__title {
    font-size: 24px;
    line-height: 30px;
  }

  .team-members {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .team-member__image {
    max-width: 156px;
    max-height: 200px;
    border-radius: 4px;
  }

  .team-member__title {
    font-size: 16px;
    line-height: 20px;
  }

  .team-member__description {
    font-size: 14px;
    line-height: 17px;
  }

  .sign-up__container {
    padding-top: 40px;
    width: 100%;
  }

  .sign-up-form__title {
    padding-top: 16px;
    font-size: 18px;
    line-height: 22px;
  }

  .sign-up-form__description {
    margin-top: 8px;
    font-size: 24px;
    line-height: 29px;
  }

  .sign-up-form-input-and-button {
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .sign-up-form__input {
    display: none;
  }

  .sign-up-form__input-mobile {
    margin-top: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 28px;
    display: block;
    width: 328px;
    max-height: 48px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    text-align: start;

  }

  .sign-up-form__input-mobile::placeholder {
    font-weight: 400;
    text-align: start;
    color: var(--primary-color);
    font-family: var(--main-font);
  }

  .sign-up-form__button {
    margin: 0;
    width: 328px;
  }

  .footer-content__conatiner {
    padding-left: 0;
    margin-top: 24px;
    flex-direction: column;
  }

  .footer-description-wrapper {
    margin-right: 0;
  }

  .footer-logo-wrapper {
    padding-top: 16px;
  }

  .footer-logo {
    width: 124px;
    height: 32px;
  } 

  .footer__description {
    display: none;
  }

  .footer__description-mobile {
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #CAC9CF;
  }

  .footer__button {
    margin-bottom: 24px;
    padding-left: 26px;
    padding-right: 26px;
  }

  .footer-menu-wrapper {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-menu__title {
    margin-bottom: ;
    font-size: 16px;
    line-height: 19px;
  }

  .footer-menu__item {
    font-size: 14px;
  }

  .copyright-container::before {
    content: "";
    padding-top: 24px;
    border-top: 1px solid #606060;
    width: 323px;
  } 

  .copyright-content {
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    line-height: 15px;
  }
}










